@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray: #e5eaff;
  --color-gray-background: #f8f8f8;
  --color-gray-dark: #878787;
  --color-tuquoise-light: #f1fced;
  --color-border: #f0f0f0;
  --color-green: #11c86f;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
}
#app {
  display: flex;
  padding: 21px 15px 80px 15px;
}

.img {
  mix-blend-mode: multiply;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-black);
}

.h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 44px;
  color: var(--color-black);
}

.h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 33px;
  color: var(--color-black);
}

.h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
  color: var(--color-black);
}
@media screen and (max-width: 850px) {
  .h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
  }
  .h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  .h5 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 450px) {
  #app {
    padding: 21px 5px 80px;
  }
}
