@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-gray: #e5eaff;
  --color-tuquoise-light: #f1fced;
  --color-border: #f0f0f0;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
}
#app {
  display: flex;
  padding: 21px 15px 0 15px;
  height: 100%;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-black);
}

.h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 44px;
  color: var(--color-black);
}

.h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 33px;
  color: var(--color-black);
}

.h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
  color: var(--color-black);
}
